<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aykuttasil.modernapp">

    <application
        android:name=".DebugApp"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:name">

        <activity android:name=".SingleFragmentActivity" />

    </application>

</manifest>
