<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="aykuttasil.com.modernapp">

    <application
        android:name=".DebugApp"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:name" />

</manifest>
